
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
h3{
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
}
h4{
  font-size: 35px;
  font-family:'verdana';
}
h1{
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}
h2{
  font-size: 20px;  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#lol{
  color: black;
  background-color: white;
  border-radius: 30%;
}