<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <h1>Chuck Norris jokes</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content [fullscreen]="true">
  

 <!---- <ion-content class="ion-padding">
    <ng-container *ngIf ="imageData; else loading">
      <img [src]="imageData.url" alt="NASA image of the Day">
      <ion-card-header>
        <ion-card-title>{{ imageData.title }}</ion-card-title>
      </ion-card-header>
    </ng-container>
  </ion-content>

  <ion-card-content>
    <p>{{ imageData.explanation }}</p>
    <p>Date:<strong>{{ imageData.date }}</strong></p>
  </ion-card-content>--->
  <ng-container *ngIf="random; else loading">
    
      <ion-label>
        <h3>{{random.value}}</h3><br>
        
      </ion-label>
    
    </ng-container>
    <button  id='lol'(click)="ngOnInit()"><h3>new joke</h3></button>
  <ng-container *ngIf="categories.length; else loading">
    <br>
    <ion-label>
      <h4>Categories:</h4><br>
      
    </ion-label>
    <ion-item *ngFor="let p of categories" >
      <ion-label>
        <h2>{{p}}</h2>
        
      </ion-label>
    </ion-item>
    </ng-container>
  <ng-template #loading>
    <ion-spinner name="crescent"></ion-spinner>
  </ng-template>

</ion-content>